p.title{
	text-align:center;
	text-indent:0px;
}

p {
	font-size:14.0pt;
	font-family:Times New Roman;
	margin-left: 20px;
}

.div-p-top p{	margin:0px;
	margin-right:10.0px;
	margin-left:10.0px;
	text-indent:30.0px;
	text-align:justify;
	font-size:12.0pt;
	font-family:Times New Roman;
}

i{
	font-size:14.0pt;
	font-family:Times New Roman;
}

h1{
	margin:0px;
	text-align:center;
	font-size:14.0pt;
	font-family:Times New Roman;
}

ul li{
	font-size:14.0pt;
	font-family:Times New Roman;
}

li{
	font-size:14.0pt;
	font-family:Times New Roman;
}

h1.Top{
	margin-top:12.0pt;
	margin-bottom:3.0pt;
	font-size:12.0pt;
	font-weight:normal;
}

h1.Bottom{
	margin-top:3.0pt;
	margin-bottom:12.0pt;
	font-size:12.0pt;
	font-weight:normal;
}

hr {
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-style: inset;
border-width: 1px;
border-top-color: black;
}

hr.empty{
display: block;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-style: inset;
border-width: 0px;
}


table.ct {
	text-align: center;
	vertical-align: center;
	width: 60%;
}

table.bct {
	text-align: center;
	vertical-align: center;
	width: 80%;
}

table{
	font-size:14.0pt;
	text-align: center;
}




td.tdleft{
	text-align: left;
}

table.text-not-center  {
	font-size:14.0pt;
}


.overline {
        text-decoration: overline;
}

.twolines {
    position: relative;
    display: inline-block;
    vertical-align: top;
}
.twolines > span {
    display: block;
}

.twolines .bot {
    font-size: 70%;
}

span.upline {
	text-decoration:overline;
}